<!DOCTYPE html>
<html lang="en">

<%- include('partials/head'); %>

<body>
    <header>
        <img class="logo" src="../images/img/logopeq.png" alt="Logo">
        <nav class="navegar">
            <a class="navegar-user" href="" style="text-decoration: underline;">

            </a>
            <a class="navegar-img" href="">
                <img src="../images/img/Intranet/home.svg" alt="logout" style="width: 80%;">
            </a>
        </nav>
    </header>

    <div class="contenido">
        <h1 style="font-size: 55px; font-style: normal;text-align: left;margin-bottom: 0px;">Editar Cliente</h1>
        <hr style="margin-bottom: 30px;">
        <form class="add-forms" action="">
            <div>
                <label class="add-label" for="">Nombre:</label><br>
                <input value="" type="text" class="add-input"><br>
                <label class="add-label" for="">Apellido:</label><br>
                <input type="text" class="add-input"><br>
                <label class="add-label" for="">Cedula:</label><br>
                <input type="text" class="add-input"><br>
                <input type="submit" class="add-btn" value="Editar">
            </div>

            <div>
                <label class="add-label" for="">Correo Electronico:</label><br>
                <input type="text" class="add-input"><br>
                <label class="add-label" for="">Direccion:</label><br>
                <input type="text" class="add-input"><br>
                <label class="add-label" for="">Telefono:</label><br>
                <input type="text" class="add-input"><br>
            </div>

        </form>


    </div>
</body>

</html>