<!DOCTYPE html>
<html lang="en">

<%- include('partials/head'); %>

<body style="background-image: url(https://cdn.wallpapersafari.com/22/32/RWg5f1.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;">
    <div class="form">
        <img class="login-logo" src="../images/img/resize/Logo Completo.png" alt="">
        <hr>

        <form class="contacto-forms" action="/registroClientes" >

            <h2 class="login-label">Usuario:</h2>
            <input type="email" placeholder="Correo de empresa*" class="login-input"><br>
            <label class="login-label" for="">Contraseña:</label><br>
            <input type="password" placeholder="Contraseña*" class="login-input"><br>

            <input type="submit" class="login-btn" value="Iniciar Sesion">
        </form>
    </div>
</body>

</html>