<!DOCTYPE html>
<html lang="en">

<%- include('partials/head'); %>

<body>
    <header>
        <img class="logo" src="../images/img/logopeq.png" alt="Logo">
        <nav class="navegar">
            <a class="navegar-user" href="" style="text-decoration: underline;">

            </a>
            <a class="navegar-img" href="">
                <img src="../images/img/Intranet/home.svg" alt="logout" style="width: 80%;">
            </a>
        </nav>
    </header>

    <div class="contenido">
        <h1 style="font-size: 60px;">Modulo Clientes</h1>
        <form action="" class="box-ByA">
            <div>
                <label for=""></label>
                <input type="text" class="txt-tabla">
                <input class="btn-tabla" type="submit" value="Buscar">
            </div>
            
                <button type="button" class="btn-tabla"  > <a href="/registroClientes">Agregar Cliente</a></button>
            
        </form>
        <div class="tabla">
            <table class="info-tabla">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Cedula</th>
                    <th>Correo Electronico</th>
                    <th>Dirreccion</th>
                    <th>Telefono</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </table>

        </div>
        <a href="">
            <button class="btn edit"></button>
        </a>
        <a href="" class="">
            <button class="btn delete"></button>
        </a>
    </div>
</body>

</html>