<!DOCTYPE html>
<html lang="en">

<%- include('partials/head'); %>

<body>
    <div class="row">
        <div class="col-12">

            <%- include('partials/nav'); %>

        </div>
    </div>
    <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Registro  del Cliente</h2>
                    <form action="/registroClientes"  id="form" autocomplete="off">
                        <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="Nombre / Razon Social" name="name" id="name">
                            <p class="mensajeError"id="pName"></p>
                        </div>
                        
                        <div class="input-group">
                            <input class="input--style-1" type="number" placeholder="NIT/Cedula" id="nit">
                            <p class="mensajeError"id="pNit"></p>
                        </div>
                        <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="UBICACIÓN" id="ubicacion">
                            <p class="mensajeError"id="pUbi"></p>
                        </div>
                        <div class="input-group">
                            <input class="input--style-1" type="email" placeholder="Correo" id="correo">
                            <p class="mensajeError"id="pCorreo"></p>
                        </div>
                            
                        <div class="p-t-20">
                            <button class="btn btn--radius btn--green" type="submit" value="Registrar">Registrar</button>
                        </div>
                        <b/>
                        <b/>
                        <b/>
                        <b/>
                        <b/>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
</body>
<script " src = "../public/validations/clientes.js"></script>
</html>