<!DOCTYPE html>
<html lang="en">

<%- include('partials/head'); %>


<body>
    <header>
        <img class="logo" src="../images/img/logopeq.png" alt="Logo">
        <nav class="navegar">
            <a class="navegar-user" href="" style="text-decoration: underline;">

            </a>
            <a class="navegar-img" href="">
                <img src="../images/img/Intranet/home.svg" alt="logout" style="width: 80%;">
            </a>
        </nav>
    </header>

    <div class="contenido">
        <h1 style="font-size: 55px; font-style: normal;text-align: left;margin-bottom: 0px;">Agregar usuarios</h1>
        <hr style="margin-bottom: 30px;">
        <form class="add-forms" method="post" action="/registrarUsuarios" >
            <div>
                <label class="add-label"  for="">Cedula:</label><br>
                <input value="" type="number" class="add-input" name="cedula"><br>
                <label class="add-label" for="">Nombre:</label><br>
                <input type="text" class="add-input" name="nombre"><br>
                <label class="add-label" for="">Departamento:</label><br>
                <input type="number" class="add-input" name="departamento"><br>
                
                
                <input type="submit" class="add-btn" value="Agregar">
            </div>

            <div>
                <label class="add-label" for="">Correo Electronico:</label><br>
                <input type="email" class="add-input" name="correo"><br>
                <label class="add-label" for="">Direccion:</label><br>
                <input type="text" class="add-input" name="direccion"><br>
                <label class="add-label" for="">Telefono:</label><br>
                <input type="number" class="add-input" name="telefono"><br>
                <label class="add-label" for="">Contraseña:</label><br>
                <input type="password" class="add-input" name="password"><br>
               
            </div>

        </form>


    </div>
</body>
<script " src = "../public/validations/clientes.js"></script>
</html>