<!DOCTYPE html>
<html lang="en">

<%- include('partials/head'); %>

<body>
    <header>
        <img class="logo" src="../images/img/logopeq.png" alt="Logo">
        <nav class="navegar">
            <a class="navegar-user" href="" style="text-decoration: underline;">

            </a>
            <a class="navegar-img" href="">
                <p>User</p>
                <img src="../images/img/Intranet/logout.svg" alt="logout" style="width: 45%;">
            </a>
        </nav>
    </header>


    <div class="div-modu">
        <h2 style="text-align: center; font-size: 35px; font-style: italic;font-weight: 400;color: #707070;margin-bottom: 0px;"><b>S</b>istema de <b>I</b>nfromacion <b>A</b>uto <b>P</b>artes</h2>
        <h1>SIAP</h1>

        <nav class="nav-modu">
            <a href="/listaClientes" class="a-modu">
                <div class="box-modu">
                    <img class="img-modu" src="../images/img/Intranet/clientes.svg" alt="cliente-img">
                    <h2 class="h2-modu">Clientes</h2>
                </div>
            </a>
            <a href="/listaUsuarios" class="a-modu">
                <div class="box-modu">
                    <img class="img-modu" src="../images/img/Intranet/usuarios.svg" alt="usuarios-img">
                    <h2 class="h2-modu">Usuarios</h2>
                </div>
            </a>
            <a href="/listaItems" class="a-modu">
                <div class="box-modu">
                    <img class="img-modu" src="../images/img/Intranet/inventario.svg" alt="inventario-img">
                    <h2 class="h2-modu">Inventario</h2>
                </div>
            </a>
            <a href="" class="a-modu">
                <div class="box-modu">
                    <img class="img-modu" src="../images/img/Intranet/orden.png" alt="orden-img" ;>
                    <h2 class="h2-modu">Orden de Compra</h2>
                </div>
            </a>
            <div class="nav-a"></div>
            <div class="nav-a"></div>
            <div class="nav-a"></div>
            <div class="nav-a"></div>
        </nav>
    </div>



</body>

</html>